.digitPageLayout {
  height: 100%;
  width: 100%;
  padding: 6px;

  &.light {
    background-color: white;
    color: black;

    a {
      color: black;
    }

    button {
      background: white;
      border-color: black;
      color: black;
    }
  }

  nav {
    padding: 6px;
  }

  main {
    width: 100%;
    height: 100%;
  }
}
